
<div class="box">
<% form_remote_tag :url => {:action => 'school_update'}  do |f| %>
<div class="label-field-pair">
  <label><%= t('edit_school') %>: <%= @student_school.school_name %> </label>
  <%= hidden_field_tag :id, @student_school.id %>
<div class="text-input-bg"> <%= text_field_tag :school_name, @student_school.school_name %></div></div>
  <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>
<% end %>
</div>