<div id="content-header">
  <%= image_tag("/images/academics.png") %>
  <h1>Calificaciones</h1>
  <h3>Materias</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">
  <div id="application-list">
    <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
        <td></td>
        <td colspan="3">Primer Parcial</td>
        <td colspan="3">Segundo Parcial</td>
        <td colspan="3">Tercer Parcial</td>
        <td colspan="3">Cuarto Parcial</td>
        <td colspan="2">Total General</td>
      </tr>
      <tr class="tr-blank"></tr>
      <tr class="tr-head">
        <td>Materia</td>

        <td>Examen</td>
        <td>Acumulado</td>
        <td>Total</td>

        <td>Examen</td>
        <td>Acumulado</td>
        <td>Total</td>

        <td>Examen</td>
        <td>Acumulado</td>
        <td>Total</td>

        <td>Examen</td>
        <td>Acumulado</td>
        <td>Total</td>

        <td>Promedio</td>
      </tr>
      <tr class="tr-blank"></tr>
      <% @student_scores.each do |student_note| %>
        <tr class="tr-read-<%= cycle('odd', 'even') %>">
          <% sub = Subject.find(student_note.subject_id) %>
          <td class="col-1" style="text-transform:capitalize"><%= sub.name %></td>
          <% total_1 = (student_note.examen_1.to_f + student_note.acumulado_1.to_f).round 2 %>
          <% total_2 = (student_note.examen_2.to_f + student_note.acumulado_2.to_f).round 2 %>
          <% total_3 = (student_note.examen_3.to_f + student_note.acumulado_3.to_f).round 2 %>
          <% total_4 = (student_note.examen_4.to_f + student_note.acumulado_4.to_f).round 2 %>
          <td class="col-1"><%= student_note.examen_1.to_f %></td>
          <td class="col-1"><%= student_note.acumulado_1.to_f %></td>
          <td class="col-1"><%= total_1 %></td>
          <td class="col-1"><%= student_note.examen_2.to_f %></td>
          <td class="col-1"><%= student_note.acumulado_2.to_f %></td>
          <td class="col-1"><%= total_2 %></td>
          <td class="col-1"><%= student_note.examen_3.to_f  %></td>
          <td class="col-1"><%= student_note.acumulado_3.to_f %></td>
          <td class="col-1"><%= total_3 %></td>
          <td class="col-1"><%= student_note.examen_4.to_f  %></td>
          <td class="col-1"><%= student_note.acumulado_4.to_f  %></td>
          <td class="col-1"><%= total_4 %></td>

          <td class="col-1"><%= ((total_1 + total_2 + total_3 + total_4)/4).round 2 %></td>
          <% if @student_scores.count == 0 %>
            <td class="col-1">0.0</td>
            <td class="col-1">0.0</td>
            <td class="col-1">N/A</td>
            <td class="col-1">0.0</td>
            <td class="col-1">0.0</td>
            <td class="col-1">N/A</td>
            <td class="col-1">0.0</td>
            <td class="col-1">0.0</td>
            <td class="col-1">N/A</td>
            <td class="col-1">0.0</td>
            <td class="col-1">0.0</td>
            <td class="col-1">N/A</td>

            <td class="col-1">N/A</td>
          <% end %>
        </tr>
        <tr class="tr-blank"></tr>
      <% end %>
    </table>
  </div>
 
  <div class="line-separator"></div>

   <div id="application-list">
    <table id="listing" align="left" cellpadding="3" cellspacing="0">
      <tr>
        <th>Evaluation Key</th>
      </tr>
      <tr class="tr-head">
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr class="tr-read-even">
        <td class="col-0">E</td>
        <td class="col-0">Excellent</td>
        <td class="col-0">91-100</td>
      </tr>
      <tr class="tr-read-even">
        <td class="col-0">VG</td>
        <td class="col-0">Very Good</td>
        <td class="col-0">81-90</td>
      </tr>
      <tr class="tr-read-even">
        <td class="col-0">S</td>
        <td class="col-0">Satisfactory</td>
        <td class="col-0">71-80</td>
      </tr>
      <tr class="tr-read-even">
        <td class="col-0">N</td>
        <td class="col-0">Need Improvements</td>
        <td class="col-0">60-70</td>
      </tr>
      <tr class="tr-read-even">
        <td class="col-0">U</td>
        <td class="col-0">Unsatisfactory</td>
        <td class="col-0">0-59</td>
      </tr>
    </table>
  </div>

 <div class="line-separator"></div>

  <div id="application-list">
    <table id="listing" align="left" cellpadding="3" cellspacing="0">
       <tr>
          <th>Attendance Record</th>
       </tr>
      <tr class="tr-head">
        <th>Period</th>
        <th>Days Absent</th>
        <th>Days Tardy</th>
      </tr>
      <% @st.each do |st| %>
        <tr class="tr-read-even">
          <td class="col-0"><%=h st.period %></td>
          <td class="col-0"><%=h st.daysAbsent %></td>
          <td class="col-0"><%=h st.daysTardy %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="space-separator"></div>

  <div id="application-list">
    <table id="listing" align="left" cellpadding="3" cellspacing="0">
      <tr>
        <th>Behavior</th>
      </tr>
      <tr class="tr-head">
        <th><b>Puntuality</b></th>
        <th><b>Work Order And Appearance</b></th>
        <th><b>Social Skills</b></th>
        <th><b>Morals</b></th>
        <th><b>Conduct</b></th>
      </tr>
      <% @st.each do |st| %>
        <tr class="tr-read-even">
          <td class="col-0"><%=h st.effort %></td>
          <td class="col-0"><%=h st.workOrderAndAppearance %></td>
          <td class="col-0"><%=h st.socialSkills %></td>
          <td class="col-0"><%=h st.morals %></td>
          <td class="col-0"><%=h st.conduct %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="line-separator"></div>

  <div id="application-list">
    <table id="listing" align="left" cellpadding="3" cellspacing="0">
      <tr class="tr-head">
        <td><b>Period</b></td>
        <th><b>Demerit </b></th>
      </tr>
      <% @st.each do |st| %>
        <tr class="tr-read-even">
          <td class="col-0"><%=h st.period %></td>
          <td class="col-0"><%=h st.demerit %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="space-separator"></div>
   <table id="listing" align="left" cellpadding="3" cellspacing="0">
    <tr class="tr-head">
      <td><b>Period</b></td>
      <td><b>Comment</b></td>
    </tr>
    <% @st.each do |st| %>
      <tr class="tr-read-even">
        <td><%=h st.period%></td>
        <td><%=h st.comment%></td>
      </tr>
    <% end %>
  </table>
  
</div>


