
<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
        <% unless @students.blank? %>
          <tr class="tr-head">
            <td>
              <%= t('sl_no') %>
            </td>
            <td>
             <%= t('first_name') %>
            </td>
            <td> <%= t('batch') %></td>
            <td> <%= t('adm_no') %></td>

          </tr>
          <tr class="tr-blank"></tr>
          <% @students.each_with_index do |student, i| %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-1"><%= i+1 %></td>
              <td class="col-4"><%=  link_to student.full_name, :controller => 'student', :action => 'profile', :id => student.id%></td>
              <td class="col-4"><%= student.batch.full_name %></td>
              <td class="col-1"><%= student.admission_no %></td>
            </tr>
          <% end %>
        <% else %>

          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-2"><%= t('no_students_found') %></td>
          </tr>
        <% end %>
      </table>