<script type="text/javascript">
function printPage(id)
{
   var html="<html>";
   html+= document.getElementById(id).innerHTML;

   html+="</html>";

   var printWin = window.open('','','');
   printWin.document.write(html);
   printWin.document.close();
   printWin.focus();
   printWin.print();
   printWin.close();
}
</script>

<script type="text/javascript" >
$('table tr').each(function(){
  $(this).find('th').first().addClass('first');
  $(this).find('th').last().addClass('last');
  $(this).find('td').first().addClass('first');
  $(this).find('td').last().addClass('last');
});

$('table tr').first().addClass('row-first');
$('table tr').last().addClass('row-last');

</script>

<div id="content-header">
  <%= image_tag("/images/examination/show_exam.png") %>
  <h1><%= "#{t('gradebooks')}" %></h1>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
    <div id="buttoncontainer" style="margin:15px">
    <%=  link_to  "#{t('add')}", :controller => "student_general_details",
                 :action => "new", :student_id => params[:id], :batch_id => params[:batch_id] %>
    | <%= link_to "#{t('export')}", {:controller => 'student_general_details', :action => 'show_all_student_details', :id=>@id.to_s+'.xls' } %>
    <!--| <input type="button" value="<%=h "#{t('print')}" %>" onclick="printPage('printBlock');"></input>-->
    | <a href="#" onclick="printPage('printBlock');"><%=h "#{t('print')}" %></a>
  </div>
</div>

<div id="printBlock">
<style>
@media print
{
  table {
    font-family: 'Arial';
    margin: 5px;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #00cccc;
    font-size: 12px;
  }
  table th, table td {
    border: 1px solid #eee;
    padding: 1px 4px;
    border-collapse: collapse;
  }
  table th {
    background: #00cccc;
    color: #fff;
    font-size: 12px;
  }
  table th.last {
    border-right: none;
  }

  .leftTable{
    float:left;
  }
  .rightTable{
    float:left;
  }
  .line{
    width:100%;
    float:left;
  }
  .division-line{
    width:100%;
    float:left;
  }
}
</style>

    <div class="leftTable" style="width:250px;margin:15px">
      <p>Grade / Grado: <b><%=  @course.course_name + ' ' + @course.section_name %></b></p>
      <p>Student / Alumno: <b><%=  @student.full_name %></b></p>
    </div>

    <div class="rightTable" style="width:250px;margin:15px">
      <p>School Year / Año: <b><%= @time.year %></b></p>
      <p>Date / Fecha: <b><%= @time.strftime("%d/%m/%Y") %></b></p>
    </div>

    <hr class="division-line"></hr>

    <div class="leftTable"> 

      <table id="listing" width="250px">
      <tr>
        <th colspan="3">Evaluation Key</th>
      </tr>
      <tr class="tr-read-even">
        <td class="col-0">E</td>
        <td class="col-0">Excellent</td>
        <td class="col-0">91-100</td>
      </tr>
      <tr class="tr-read-even">
        <td class="col-0">VG</td>
        <td class="col-0">Very Good</td>
        <td class="col-0">81-90</td>
      </tr>
      <tr class="tr-read-even">
        <td class="col-0">S</td>
        <td class="col-0">Satisfactory</td>
        <td class="col-0">71-80</td>
      </tr>
      <tr class="tr-read-even">
        <td class="col-0">N</td>
        <td class="col-0">Need Improvements</td>
        <td class="col-0">60-70</td>
      </tr>
      <tr class="tr-read-even">
        <td class="col-0">U</td>
        <td class="col-0">Unsatisfactory</td>
        <td class="col-0">0-59</td>
      </tr>
    </table>   
      <table id="listing"  width="250px">
      <thead>
        <tr>
          <th colspan="5">Attendance Record</th>
        </tr>
      </thead>
      <tbody>

      <% @attendance.each do |a| %>
        <tr class="tr-read-even">
          <% a.each do |e| %>
          <td><%=h e %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
      <table id="listing" width="250px">
      <thead>
      <tr>
        <th colspan="8">Behavior</th>
      </tr>
      </thead>
      <tbody>
        <% @behavior.each do |b| %>
        <tr class="tr-read-even">
          <% b.each do |e| %>
          <td><%=h e %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
     
    <div class="rightTable">
      <table id="listing">
        <thead>
          <tr>
            <th></th>
            <% 4.times do |l| %>
              <th colspan="1"><%= "#{t('partial'+(l+1).to_s)}" %></th>
            <% end %>
            <th></th>
          </tr>
          <tr>
            <th><%= "#{t('assigment')}" %></th>
            <% 4.times do |l| %>
              <th><%= "#{t('total')}" %></th>
            <% end %>
            <th><%= "#{t('average')}" %></th>
         </tr>
        </thead>
        <tbody>
          <% @student_scores.each do |student_note| %>
            <tr class="tr-read-<%= cycle('odd', 'even') %>">
              <% sub = Subject.find(student_note.subject_id) %>
              <td><%= sub.name %></td>
              <% total_1 = (student_note.examen_1.to_f + student_note.acumulado_1.to_f).ceil %>
              <% total_2 = (student_note.examen_2.to_f + student_note.acumulado_2.to_f).ceil %>
              <% total_3 = (student_note.examen_3.to_f + student_note.acumulado_3.to_f).ceil %>
              <% total_4 = (student_note.examen_4.to_f + student_note.acumulado_4.to_f).ceil %>
              <td><%= total_1 %></td>
              <td><%= total_2 %></td>
              <td><%= total_3 %></td>
              <td><%= total_4 %></td>
              <td><%= ((total_1 + total_2 + total_3 + total_4)/4).ceil %></td>
              <% if @student_scores.count == 0 %>
                <% 4.times do |l| %>
                  <td colspan="1"><%= "#{t('partial'+(l+1).to_s)}" %></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

   <hr class="division-line"></hr>
    
    <div class="line">
     <table id="listing" width="400px">
      <thead>
        <tr>
          <th><b>Period</b></th>
            <th><b>Comment</b></th>
        </tr>
      </thead>
      <tbody>
      <% @st.each do |st| %>
        <tr class="tr-read-even">
          <td class="col-0"><%=h st.period %></td>
          <td class="col-0"><%=h st.comment %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
    
   <hr class="division-line"></hr>
    <div class="leftTable" style="width:250px;margin:15px">
      <p>Principal / Director:</p>
    </div>

    <div class="rightTable" style="width:250px;margin:15px">
      <p>Teacher / Maestro:</p>
    </div>

</div>
  <!--
  <div id="application-list4" class="leftTable" >
    <table id="listing">
      <thead>
        <tr>
          <th><b>Period</b></th>
          <th><b>Demerit</b></th>
        </tr>
      </thead>
      <tbody>
      <% @st.each do |st| %>
        <tr class="tr-read-even">
          <td class="col-0"><%=h st.period %></td>
          <td class="col-0"><%=h st.demerit %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

 <div id="application-list4" class="leftTable">
   <table id="listing">
    <thead>
      <tr class="tr-head">
        <th><b>Period</b></th>
        <th><b>Comment</b></th>
      </tr>
    </thead>
    <tbody>
      <% @st.each do |st| %>
        <tr class="tr-read-even">
          <td><%=h st.period%></td>
          <td><%=h st.comment%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
 
</div> -->
