
<div id="content-header">
 <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1><%= t('student_details') %> </h1>
  <h3><%= t('view_details') %> </h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
 <table id="listing" align="center" width="100%" cellpadding="0" cellspacing="0">
      <tr class="tr-head">
        <td>Period</td>
        <td>Days Absent</td>
        <td>Days Tardy</td>
        <td>Puntuality</td>
        <td>Work Order And Appearance</td>
        <td>Social Skills</td>
        <td>Morals</td>
        <td>Conduct</td>
        <td>Demerit</td>
        <td>Actions</td>
      </tr>
      <tr class="tr-read-even">
        <td class="col-0"><%=h @student_general_details.period %></td>
        <td class="col-0"> <%=h @student_general_details.daysAbsent %></td>
        <td class="col-0"> <%=h @student_general_details.daysTardy %></td>
        <td class="col-0"> <%=h @student_general_details.puntuality %></td>
        <td class="col-0"> <%=h @student_general_details.workOrderAndAppearance %></td>
        <td class="col-0"> <%=h @student_general_details.socialSkills %></td>
        <td class="col-0"> <%=h @student_general_details.morals %></td>
        <td class="col-0"> <%=h @student_general_details.conduct %></td>
        <td class="col-0"> <%=h @student_general_details.demerit %></td>
        <td class="col-0"><%= link_to 'Edit', edit_student_general_detail_path(@student_general_details) %></td>
      </tr>
 </table>
</div>

