<p><b>Student:</b> <%=h @student_general_details.student_id %></p>
<p><b>Course:</b> <%=h @student_general_details.batch_id %></p>
<p><b>Period</b> <%=h @student_general_details.period %></p>
<p><b>Days Absent</b> <%=h @student_general_details.daysAbsent %></p>
<p><b>Days Tardy</b> <%=h @student_general_details.daysTardy %></p>
<p><b>Puntuality</b> <%=h @student_general_details.puntuality %></p>
<p><b>Work Order And Appearance</b> <%=h @student_general_details.workOrderAndAppearance %></p>
<p><b>Social Skills</b> <%=h @student_general_details.socialSkills %></p>
<p><b>Morals </b> <%=h @student_general_details.morals %></p>
<p><b>Conduct </b> <%=h @student_general_details.conduct %></p>
<p><b>Demerit </b> <%=h @student_general_details.demerit %></p>

<%= link_to 'Edit', edit_student_general_detail_path(@student_general_details) %>