<script type="text/javascript">
function printPage(id)
{
   var html="<html>";
   html+= document.getElementById(id).innerHTML;
   html+="</html>";

   var printWin = window.open('','','');
   printWin.document.write(html);
   printWin.document.close();
   printWin.focus();
   printWin.print();
   printWin.close();
}


</script>

<script type="text/javascript" >
$('table tr').each(function(){
  $(this).find('th').first().addClass('first');
  $(this).find('th').last().addClass('last');
  $(this).find('td').first().addClass('first');
  $(this).find('td').last().addClass('last');
});

$('table tr').first().addClass('row-first');
$('table tr').last().addClass('row-last');

</script>

<div id="content-header">
  <%= image_tag("/images/examination/show_exam.png") %>
  <h1><%= "#{t('gradebooks')}" %></h1>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
 <table id="listing" >
      <thead>
      <tr class="tr-head">
        <th><b>Period</b></th>
        <th colspan="2"><b>Action</b></th>
      </tr>
      </thead>
      <tbody>
      <% @details.each do |st| %>
        <tr class="tr-read-even">
          <td class="col-0"><%=h st.period %></td>
          <td class="col-0"><%=  link_to  "#{t('edit')}", :controller => "student_general_details",
                                          :action => "edit", :id => st %></td>
          <td class="col-0"><%=  link_to  "#{t('delete')}", :controller => "student_general_details",
                                          :action => "delete", :id => st %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div id="buttoncontainer" style="margin:15px">
    <%=  link_to  "#{t('add')}", :controller => "student_general_details",
                 :action => "new", :student_id => params[:id], :batch_id => params[:batch_id] %>
    |<%= link_to "#{t('export')}", {:controller => 'student_general_details', :action => 'show_all_student_details', :id=>params[:id].to_s+'.xls' } %>
    |<a href="#" onclick="printPage('printBlock');"><%=h "#{t('print')}" %></a>
  </div>
</div>

<div id="printBlock">
<style>
@media print
{
  table {
    font-family: 'Arial';
    margin: 5px;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #00cccc;
    font-size: 12px;
  }
  table th, table td {
    border: 1px solid #eee;
    padding: 1px 4px;
    border-collapse: collapse;
  }
  table th {
    background: #00cccc;
    color: #fff;
    font-size: 12px;
  }
  table th.last {
    border-right: none;
  }

  .leftTable{
    float:left;
  }
  .rightTable{
    float:left;
  }
  .line{
    width:100%;
    float:left;
  }
  .division-line{
    width:100%;
    float:left;
  }
}

table#listing td.col-1{
    width:0%;
}
</style>

    <div class="leftTable" style="width:250px;margin:15px">
      <p>Grade / Grado: <b><%=  @course.course_name + ' ' + @course.section_name %></b></p>
      <p>Student / Alumno: <b><%=  @student.full_name %></b></p>
    </div>

    <div class="rightTable" style="width:250px;margin:15px">
      <p>School Year / Año: <b><%= @time.year %></b></p>
      <p>Date / Fecha: <b><%= @time.strftime("%d/%m/%Y") %></b></p>
    </div>

    <hr class="division-line"/>

    <div class="leftTable"> 

      <table id="listing" width="200px">
      <tr>
        <th colspan="3">Evaluation Key</th>
      </tr>
      <tr class="tr-read-even">
        <td class="col-0">E</td>
        <td class="col-0">Excellent</td>
        <td class="col-0">91-100</td>
      </tr>
      <tr class="tr-read-even">
        <td class="col-0">VG</td>
        <td class="col-0">Very Good</td>
        <td class="col-0">81-90</td>
      </tr>
      <tr class="tr-read-even">
        <td class="col-0">S</td>
        <td class="col-0">Satisfactory</td>
        <td class="col-0">71-80</td>
      </tr>
      <tr class="tr-read-even">
        <td class="col-0">N</td>
        <td class="col-0">Need Improvements</td>
        <td class="col-0">60-70</td>
      </tr>
      <tr class="tr-read-even">
        <td class="col-0">U</td>
        <td class="col-0">Unsatisfactory</td>
        <td class="col-0">0-59</td>
      </tr>
    </table>   
      <table id="listing"  width="200px">
      <thead>
        <tr>
          <th colspan="5">Attendance Record</th>
        </tr>
      </thead>
      <tbody>

      <% @attendance.each do |a| %>
        <tr class="tr-read-even">
          <% a.each do |e| %>
          <td><%=h e %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
      <table id="listing" width="200px">
      <thead>
      <tr>
        <th colspan="8">Behavior</th>
      </tr>
      </thead>
      <tbody>
        <% @behavior.each do |b| %>
        <tr class="tr-read-even">
          <% b.each do |e| %>
          <td><%=h e %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  <!-- temporal fix -->
  <% if @student.batch_id == 40 or @student.batch_id == 53 %>
    <div class="rightTable">
      <table id="listing">
        <thead>
        <tr>
          <th></th>
          <th colspan="6"><%= "#{t('semestre1')}" %></th>
          <th colspan="6"><%= "#{t('semestre2')}" %></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th colspan="2"><%= "#{t('partial1')}" %></th>
          <th colspan="3"><%= "#{t('partial2')}" %></th>
          <th colspan="1"></th>
          <th colspan="2"><%= "#{t('partial3')}" %></th>
          <th colspan="3"><%= "#{t('partial4')}" %></th>
          <th colspan="1"></th>
          <th colspan="1"></th>
        </tr>
        <tr>
          <th><%= "#{t('assigment')}" %></th>
          <th><%= "#{t('niv')}" %></th>
          <th><%= "#{t('tot')}" %></th>
          <th><%= "#{t('tot')}" %></th>
          <th><%= "R1" %></th>
          <th><%= "R2" %></th>
          <th><%= "P" %></th>
          <th><%= "#{t('niv')}" %></th>
          <th><%= "#{t('tot')}" %></th>
          <th><%= "#{t('tot')}" %></th>
          <th><%= "R1" %></th>
          <th><%= "R2" %></th>
          <th><%= "P" %></th>
          <th><%= "PF" %></th>
        </tr>
        </thead>
        <tbody>
        <% total = 0 %>
        <% @scores.each do |student_note| %>
            <tr class="tr-read-<%= cycle('odd', 'even') %>">
              <% sub = Subject.find(student_note.subject_id) %>
              <td><%= sub.name %></td>
              <td><%= student_note.nivelacion(1).round %></td>
              <td><%= student_note.parcial(1).round %></td>
              <td><%= student_note.parcial(2).round %></td>
              <td><%= student_note.recuperacion(1).round %></td>
              <td><%= student_note.recuperacion(2).round %></td>
              <td><%= student_note.promedio_semestre(1).round %></td>
              <td><%= student_note.nivelacion(2).round %></td>
              <td><%= student_note.parcial(3).round %></td>
              <td><%= student_note.parcial(4).round %></td>
              <td><%= student_note.recuperacion(3).round %></td>
              <td><%= student_note.recuperacion(4).round %></td>
              <td><%= student_note.promedio_semestre(2).round %></td>
              <td><%= student_note.promedio_total.round(1) %></td>
              <% if permitted_to? :destroy and (@current_user.privileges.map{|p| p.name}.include?("SubjectMaster"))  %>
                  <td><%= link_to 'Destroy', student_note, :confirm => 'Are you sure?', :method => :delete %></td>
              <% end %>
            </tr>
            <% total += student_note.promedio_total %>
        <% end %>

        </tbody>
        <tfoot>
            <tr class="tr-read-even">
              <td>Promedio: <%= (total/@scores.count).round(1) %></td>
              <td></td>
            </tr>
        </tfoot>
      </table>
    </div>
  <% else %>
    <div class="rightTable">
      <table id="listing">
        <thead>
        <tr>
          <th></th>
          <% 4.times do |l| %>
              <th colspan="1"><%= "#{t('partial'+(l+1).to_s)}" %></th>
          <% end %>
          <th colspan="1"></th>
          <th></th>
        </tr>
        <tr>
          <th><%= "#{t('assigment')}" %></th>
          <% 4.times do |l| %>
              <th><%= "#{t('total')}" %></th>
          <% end %>
          <th><%= "#{t('recovery')}" %></th>
          <th><%= "#{t('average')}" %></th>
        </tr>
        </thead>
        <tbody>
        <% @scores.each do |student_note| %>
            <tr class="tr-read-<%= cycle('odd', 'even') %>">
              <% sub = Subject.find(student_note.subject_id) %>
              <td><%= sub.name %></td>
              <td><%= student_note.total_parcial(1).round %></td>
              <td><%= student_note.total_parcial(2).round %></td>
              <td><%= student_note.total_parcial(3).round %></td>
              <td><%= student_note.total_parcial(4).round %></td>
              <td><%= student_note.get_recovery(1).round %></td>
              <td><%= student_note.total_average.round %></td>
              <% if @scores.count == 0 %>
                  <% 4.times do |l| %>
                      <td colspan="1"><%= "#{t('partial'+(l+1).to_s)}" %></td>
                  <% end %>
              <% end %>
              <% if permitted_to? :destroy and (@current_user.privileges.map{|p| p.name}.include?("SubjectMaster"))  %>
                  <td><%= link_to 'Destroy', student_note, :confirm => 'Are you sure?', :method => :delete %></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
   <hr class="division-line"/>
    
    <div class="line">
     <table id="listing" width="400px">
      <thead>
        <tr>
          <th><b>Period</b></th>
            <th><b>Comment</b></th>
        </tr>
      </thead>
      <tbody>
      <% @details.each do |st| %>
        <tr class="tr-read-even">
          <td class="col-0"><%=h st.period %></td>
          <td class="col-0"><%=h st.comment %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
    
   <hr class="division-line"/>
    <div class="leftTable" style="width:250px;margin:15px">
      <p>Principal / Director:</p>
    </div>

    <div class="rightTable" style="width:250px;margin:15px">
      <p>Teacher / Maestro:</p>
    </div>

</div>
  <!--
  <div id="application-list4" class="leftTable" >
    <table id="listing">
      <thead>
        <tr>
          <th><b>Period</b></th>
          <th><b>Demerit</b></th>
        </tr>
      </thead>
      <tbody>
      <% @details.each do |st| %>
        <tr class="tr-read-even">
          <td class="col-0"><%=h st.period %></td>
          <td class="col-0"><%=h st.demerit %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

 <div id="application-list4" class="leftTable">
   <table id="listing">
    <thead>
      <tr class="tr-head">
        <th><b>Period</b></th>
        <th><b>Comment</b></th>
      </tr>
    </thead>
    <tbody>
      <% @details.each do |st| %>
        <tr class="tr-read-even">
          <td><%=h st.period%></td>
          <td><%=h st.comment%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
 
</div> -->
