<h1>New biweekly_personality_grade</h1>

<% form_for(@biweekly_personality_grade) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.hidden_field(:student_id, :value => @student.id)%>
    <%= f.hidden_field(:student_additional_grade_field_id, :value => @student_grade_field.id) %>
  </p>
  <p>
    <%= f.label :w1 %><br />
    <%= f.text_field :w1 %>
  </p>
  <p>
    <%= f.label :w2 %><br />
    <%= f.text_field :w2 %>
  </p>
  <p>
    <%= f.label :w3 %><br />
    <%= f.text_field :w3 %>
  </p>
  <p>
    <%= f.label :w4 %><br />
    <%= f.text_field :w4 %>
  </p>
  <p>
    <%= f.label :period %><br />
    <%= f.text_field :period %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', biweekly_personality_grades_path %>