<p>
  <b>Student:</b>
  <%=h @biweekly_personality_grade.student_id %>
</p>

<p>
  <b>Student additional grade field:</b>
  <%=h @biweekly_personality_grade.student_additional_grade_field_id %>
</p>

<p>
  <b>W1:</b>
  <%=h @biweekly_personality_grade.w1 %>
</p>

<p>
  <b>W2:</b>
  <%=h @biweekly_personality_grade.w2 %>
</p>

<p>
  <b>W3:</b>
  <%=h @biweekly_personality_grade.w3 %>
</p>

<p>
  <b>W4:</b>
  <%=h @biweekly_personality_grade.w4 %>
</p>


<%= link_to 'Edit', edit_biweekly_personality_grade_path(@biweekly_personality_grade) %> |
<%= link_to 'Back', biweekly_personality_grades_path %>