<h1>New period</h1>

<% form_for(@period) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :PeriodNumber %><br />
    <%= f.text_field :PeriodNumber %>
  </p>
  <p>
    <%= f.label :Description %><br />
    <%= f.text_field :Description %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', periods_path %>