<h1>Editing student_class_note</h1>

<% form_for(@student_class_note) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :OrderNumber %><br />
    <%= f.text_field :OrderNumber %>
  </p>
  <p>
    <%= f.label :Name %><br />
    <%= f.text_field :Name %>
  </p>
  <p>
    <%= f.label :Value %><br />
    <%= f.text_field :Value %>
  </p>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @student_class_note %> |
<%= link_to 'Back', student_class_notes_path %>