<div id="content-header">
  <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1><%= t('student_details') %> </h1>
  <h3><%= t('view_details') %> </h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">
        <% form_for(@student_class_note) do |f| %>
          <%= f.error_messages %>


        <div class="label-field-pair">
          <div class="label-container"><%= f.label :OrderNumber %></div>
          <div class="input-container"><%= f.text_field :OrderNumber %></div>
        </div>
        <div class="label-field-pair">
          <div class="label-container"><%= f.label :Name %></div>
          <div class="input-container"><%= f.text_field :Name %></div>
        </div>
        <div class="label-field-pair">
          <div class="label-container"><%= f.label :Value %></div>
          <div class="input-container"><%= f.text_field :Value %></div>
        </div>

        <div class="label-field-pair">
          <div class="label-container"><%= f.label :subject %></div>
          <div class="text-input-bg"><%= select :subject, :subject_id,
                                                @subjects.map{|s| [s.name,s.id] },
                                                {:prompt => "#{t('select_a_subject')}"}%></div>
        </div>
        <%= f.submit 'Create', :class => "submit_button" %>
        <% end %>
   </div>
</div>

<%= link_to 'Back', student_class_notes_path %>