<p>
  <b>Student:</b>
  <%=h @student_additional_grade_field_detail.student %>
</p>

<p>
  <b>Batch:</b>
  <%=h @student_additional_grade_field_detail.batch %>
</p>

<p>
  <b>Student additional grade field:</b>
  <%=h @student_additional_grade_field_detail.student_additional_grade_field %>
</p>

<p>
  <b>Period:</b>
  <%=h @student_additional_grade_field_detail.period %>
</p>


<%= link_to 'Edit', edit_student_additional_grade_field_detail_path(@student_additional_grade_field_detail) %> |
<%= link_to 'Back', student_additional_grade_field_details_path %>