<p>
  <b>Name:</b>
  <%=h @ponderation.Name %>
</p>

<p>
  <b>Value:</b>
  <%=h @ponderation.Value %>
</p>

<p>
  <b>Gradedefinition:</b>
  <%=h @ponderation.GradeDefinition %>
</p>


<%= link_to 'Edit', edit_ponderation_path(@ponderation) %> |
<%= link_to 'Back', ponderations_path %>