<h1>New student_grade_personality</h1>

<% form_for(@student_grade_personality) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.hidden_field(:student_id, :value => @student.id) %>
    <%= f.hidden_field(:student_additional_grade_field_id, :value => @student_grade_field.id )%>
  </p>
  <p>
    <%= f.label :p1 %><br />
    <%= f.text_field :p1 %>
  </p>
  <p>
    <%= f.label :p2 %><br />
    <%= f.text_field :p2 %>
  </p>
  <p>
    <%= f.label :p3 %><br />
    <%= f.text_field :p3 %>
  </p>
  <p>
    <%= f.label :p4 %><br />
    <%= f.text_field :p4 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', student_grade_personalities_path %>