<p>
  <b>Student additional grade field:</b>
  <%=h @student_grade_personality.student_additional_grade_field %>
</p>

<p>
  <b>P1:</b>
  <%=h @student_grade_personality.p1 %>
</p>

<p>
  <b>P2:</b>
  <%=h @student_grade_personality.p2 %>
</p>

<p>
  <b>P3:</b>
  <%=h @student_grade_personality.p3 %>
</p>

<p>
  <b>P4:</b>
  <%=h @student_grade_personality.p4 %>
</p>


<%= link_to 'Edit', edit_student_grade_personality_path(@student_grade_personality) %> |
<%= link_to 'Back', student_grade_personalities_path %>