<h1>New student_class_notes_value</h1>

<% form_for(@student_class_notes_value) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Value %><br />
    <%= f.text_field :Value %>
  </p>
  <p>
    <%= f.label :subjects %><br />
    <%= f.text_field :subjects %>
  </p>
  <p>
    <%= f.label :periods %><br />
    <%= f.text_field :periods %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', student_class_notes_values_path %>