<script type="text/javascript" >
$('table tr').each(function(){
  $(this).find('th').first().addClass('first');
  $(this).find('th').last().addClass('last');
  $(this).find('td').first().addClass('first');
  $(this).find('td').last().addClass('last');
});

$('table tr').first().addClass('row-first');
$('table tr').last().addClass('row-last');

</script>

<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div id="targetDiv"></div>
</div>

<div id="page-yield">
  <div><%= image_tag("/images/buttons/Download-32.png") %> <%= link_to "#{t('export')}", {:controller => 'notas', :action => 'export_csv', :id=>param[:id].to_s+'.xls' } %></div>

	<div id="application-list" class="wrapper">
          <table id="listing" cellpadding="1" cellspacing="1">
            <thead>
		<tr>
			<th rowspan="2">Name</th>
                        <% @subjects.each  do |subject| %>
                        <th colspan="4"><%= subject.name %></th>
                        <% end %>
                        <th>Avg</th>
		</tr>
                <tr>
                  <% @subjects.each do |subject| %>
                     <th class="subcategory">I</th>
                     <th class="subcategory">II</th>
                     <th class="subcategory">III</th>
                     <th class="subcategory">IV</th>
                  <% end %>
                </tr>
            </thead>
            <tbody>
		<% @students.each do |student| %>
		<tr class="tr-read-<%= cycle('odd', 'even') %>">
			<td class="col-1" style="text-transform:capitalize">
                <%= student.first_and_last_name %>
			</td>
          <% avg = 0 %>
          <% @subjects.each do |subject| %>
              <% nota = student.notas.find_by_subject_id(subject) %>
              <td class="col-1"><%= !nota.nil? ? nota.total_parcial(1) : 0.0 %></td>
              <td class="col-1"><%= !nota.nil? ? nota.total_parcial(2) : 0.0 %></td>
              <td class="col-1"><%= !nota.nil? ? nota.total_parcial(3) : 0.0 %></td>
              <td class="col-1"><%= !nota.nil? ? nota.total_parcial(4) : 0.0 %></td>
              <% avg += !nota.nil? ? nota.total_average : 0 %>
          <% end %>
          <td class="col-1"><%= (avg / (@subjects.count)).round %></td>
		</tr>
        <% end %>
      </tbody>
	</table>
        </div>
</div>
