<h1>Listing notas</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Student</th>
    <th>Examen 1</th>
    <th>Acumulado 1</th>
    <th>Examen 2</th>
    <th>Acumulado 2</th>
    <th>Examen 3</th>
    <th>Acumulado 3</th>
    <th>Examen 4</th>
    <th>Acumulado 4</th>
  </tr>

<#% @notas.each do |nota| %>
  <tr>
    <td><%=h @notas.subject_id %></td>
    <td><%=h @notas.student_id %></td>
    <td><%=h @notas.examen_1 %></td>
		<td><%=h @notas.acumulado_1 %></td>
    <td><%=h @notas.examen_2 %></td>
		<td><%=h @notas.acumulado_2 %></td>
    <td><%=h @notas.examen_3 %></td>
		<td><%=h @notas.acumulado_3 %></td>
    <td><%=h @notas.examen_4 %></td>
		<td><%=h @notas.acumulado_4 %></td>
    <td><%= link_to 'Show', @notas %></td>
    <td><%= link_to 'Edit', edit_nota_path(@notas) %></td>
    <td><%= link_to 'Destroy', @notas, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<%# end %>
</table>

<br />

<%= link_to 'New nota', new_nota_path %>
