<div id="content-header">
  <%= image_tag("/images/examination/show_exam.png") %>
  <h1>Editando</h1>
  <h3>Ponderacion</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
	<ul>
		<li><%= link_to 'Mostrar Ponderacion', @plan %></li>
	</ul>
</div>

<div id="page-yield">
	<% unless flash[:notice].nil? %>
		<p class="flash-msg"> <%= flash[:notice] %> </p>
	<% end %>
	
	<div id="application-list">

		<% form_for(@plan) do |f| %>
			<%= f.error_messages %>

			<p style="display:none">
				<%= f.label :subject_id %><br />
				<%= f.text_field :subject_id %>
			</p>
			<p>
				<%= f.label "Examen 1" %><br />
				<%= f.text_field :examen_1 %>
			</p>
			<p>
				<%= f.label "Acumulado 1" %><br />
				<%= f.text_field :acumulado_1 %>
			</p>
			<p>
				<%= f.label "Examen 2" %><br />
				<%= f.text_field :examen_2 %>
			</p>
			<p>
				<%= f.label "Acumulado 2" %><br />
				<%= f.text_field :acumulado_2 %>
			</p>
			<p>
				<%= f.label "Examen 3" %><br />
				<%= f.text_field :examen_3 %>
			</p>
			<p>
				<%= f.label "Acumulado 3" %><br />
				<%= f.text_field :acumulado_3 %>
			</p>
			<p>
				<%= f.label "Examen 4" %><br />
				<%= f.text_field :examen_4 %>
			</p>
			<p>
				<%= f.label "Acumulado 4" %><br />
				<%= f.text_field :acumulado_4 %>
			</p>
			<p>
				<%= f.submit 'Actualizar ponderacion' %>
			</p>
		<% end %>
	</div>
</div>
