

<div id="content-header">
  <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1><%= t('student_details') %> </h1>
  <h3><%= t('view_details') %> </h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <% form_tag({:action => 'import'}, {:multipart => true}) do %>

      <div class="label-field-pair-select-class">
        <label><%= t('import_file') %></label>
        <div class="text-input-bg">
          <%= file_field_tag 'file', :size => 60%></div>
      </div>

      <%= submit_tag t('import_file'),:class => "submit_button" %>

  <%end%>
</div>