<div id="content-header">
  <%= image_tag("/images/examination/show_exam.png") %>
  <h1>Creando</h1>
  <h3>Ponderacion</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

    <div id="application-list">

      <% form_for(@plan) do |f| %>
        <%= f.error_messages %>
        <p style="display:none">
          <%= f.label :subject_id %><br />
          <%= f.text_field :subject_id, :value => params[:id] %>
          <%#= f.text_field :batch_id, :value => params[:batch] %>
        </p>
        <table id="listing" align="center" width="100%" cellpadding="0" cellspacing="0">
          <tr class="tr-head">
            <td><%= f.label "Examen 1" %></td>
            <td><%= f.label "Acumulado 1" %></td>
            <td><%= f.label "Examen 2" %></td>
            <td><%= f.label "Acumulado 2" %></td>
            <td><%= f.label "Examen 3" %></td>
            <td><%= f.label "Acumulado 3" %></td>
            <td><%= f.label "Examen 4" %></td>
            <td><%= f.label "Acumulado 4" %></td>
            <td>Accion</td>
          </tr>
          <tr class="tr-read-even">
            <td class="col-0"><%= f.text_field :examen_1, :size => 8 %></td>
            <td class="col-0"><%= f.text_field :acumulado_1, :size => 10 %></td>
            <td class="col-0"><%= f.text_field :examen_2, :size => 8 %></td>
            <td class="col-0"><%= f.text_field :acumulado_2, :size => 10 %></td>
            <td class="col-0"><%= f.text_field :examen_3, :size => 8 %></td>
            <td class="col-0"><%= f.text_field :acumulado_3, :size => 10 %></td>
            <td class="col-0"><%= f.text_field :examen_4, :size => 8 %></td>
            <td class="col-0"><%= f.text_field :acumulado_4, :size => 10 %></td>
            <td><%= f.submit 'Crear' %></td>
          </tr>
          <tr class="tr-blank"></tr>
        </table>
      <% end %>
    </div>
</div>