<script type="text/javascript" >
$('table tr').each(function(){
  $(this).find('th').first().addClass('first');
  $(this).find('th').last().addClass('last');
  $(this).find('td').first().addClass('first');
  $(this).find('td').last().addClass('last');
});

$('table tr').first().addClass('row-first');
$('table tr').last().addClass('row-last');

</script>

<div id="page-yield">
  <div id="application-list" class="wrapper">
    <table id="listing" cellpadding="1" cellspacing="1">
       <thead>
	 <tr>
	        <th><%=h "subject_id" %></th>
            <th><%= "#{t('exam1')}" %></th>
            <th><%= "#{t('acum')}" %></th>
            <th><%= "#{t('exam2')}" %></th>
            <th><%= "#{t('acum')}" %></th>
            <th><%= "#{t('exam3')}" %></th>
            <th><%= "#{t('acum')}" %></th>
            <th><%= "#{t('exam4')}" %></th>
            <th><%= "#{t('acum')}" %></th>
        </tr>
       </thead>
       <tbody>
          <tr class="tr-read-<%= cycle('odd', 'even') %>">
            <td class="col-1"><%= @plan.subject_id %></td>
            <td class="col-1"><%= @plan.examen_1.nil? ? 0:@plan.examen_1%></td>
            <td class="col-1"><%= @plan.acumulado_1.nil? ? 0:@plan.acumulado_1 %></td>
            <td class="col-1"><%= @plan.examen_2.nil? ? 0:@plan.examen_2 %></td>
            <td class="col-1"><%= @plan.acumulado_2.nil? ? 0:@plan.acumulado_2 %></td>
            <td class="col-1"><%= @plan.examen_3.nil? ? 0:@plan.examen_3 %></td>
            <td class="col-1"><%= @plan.acumulado_3.nil? ? 0:@plan.acumulado_3 %></td>
            <td class="col-1"><%= @plan.examen_4.nil? ? 0:@plan.examen_4 %></td>
            <td class="col-1"><%= @plan.acumulado_4.nil? ? 0:@plan.acumulado_4 %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<h3><%= "#{t('gradebooks')}" %></h3>

<div id="page-yield">
  <div id="application-list">
    <table id="listing" class="wrapper">
      <thead>
        <tr>
          <th></th>
          <% 4.times do |l| %>
             <th colspan="3"><%= "#{t('partial'+(l+1).to_s)}" %></th>
          <% end %>
          <th colspan="2"></th>
        </tr>
        <tr>
          <th><%=h "student_id" %></th>
          <th><%=h "#{t('name')}" %></th>
          <% 4.times do |l| %>
            <th><%= "#{'examen_'+(l+1).to_s}" %></th>
            <th><%= "#{'acumulado_'+(l+1).to_s}" %></th>
            <th><%= "#{'total'}" %></th>
          <% end %>
          <th><%= "#{t('average')}" %></th>
	</tr>
      </thead>
      <tbody>
        <% @st.each do |student| %>
          <tr class="tr-read-<%= cycle('odd', 'even') %>">
               <td class="col-1"><%= student.id %></td>
               <td class="col-1" style="text-transform:capitalize"><%= student.full_name.to_s.to_my_utf8 %></td>
               <% nota = student.notas.find_by_subject_id(@plan.subject) %>
               <% 4.times do |l| %>
                  <td class="col-1"><%=  nota != nil ? nota.examen(l+1) : 0.0 %></td>
                  <td class="col-1"><%=  nota != nil ? nota.acum(l+1) : 0.0 %></td>
                  <td class="col-1"><%=  nota != nil ? nota.total_parcial(l+1) : 0.0 %></td>
               <% end %>
               <td class="col-1"><%= nota != nil ? nota.total_average.round(1) : 0.0 %></td>
         </tr>
       <% end %>
      </tbody>
  </table>
  </div>
</div>
