<div id="content-header">
  <%= image_tag("/images/examination/show_exam.png") %>
  <h1 style="text-transform:capitalize"><%=h @plan.subject.name %></h1>
  <h3>Ponderacion</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>


<div id="inner-tab-menu">
	<ul>
		<li><%= link_to 'Editar', edit_plan_path(@plan) %></li>
	</ul>
</div>

<div id="page-yield">
	<% unless flash[:notice].nil? %> 
		<p class="flash-msg"> <%= flash[:notice] %> </p> 
	<% end %>

	<div id="application-list">
		<table id="listing" align="center" width="100%" cellpadding="0" cellspacing="0">
			<tbody>
			<tr class="tr-head">
				<td>Examen 1</td>
				<td>Acumulado</td>
				<td>Examen 2</td>
				<td>Acumulado</td>
				<td>Examen 3</td>
				<td>Acumulado</td>
				<td>Examen 4</td>
				<td>Acumulado</td>
			</tr>			
			<tr class="tr-read-even">
				<td class="col-1"><%= @plan.examen_1 %></td>
				<td class="col-1"><%= @plan.acumulado_1 %></td>
				<td class="col-1"><%= @plan.examen_2 %></td>
				<td class="col-1"><%= @plan.acumulado_2 %></td>
				<td class="col-1"><%= @plan.examen_3 %></td>
				<td class="col-1"><%= @plan.acumulado_3 %></td>
				<td class="col-1"><%= @plan.examen_4 %></td>
				<td class="col-1"><%= @plan.acumulado_4 %></td>
			</tr>
			</tbody>	
		</table>
	</div>
</div>

<div id="content-header">
	<%= image_tag("/images/examination/show_exam.png") %>
	<h1>Calificaciones</h1>
	<h3>Alumnos</h3>
</div>

<div id="page-yield">
	<div id="application-list">
	<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
		<tr class="tr-head">
			<td></td>
			<td colspan="3">Primer Parcial</td>
			<td colspan="3">Segundo Parcial</td>
			<td colspan="3">Tercer Parcial</td>
			<td colspan="3">Cuarto Parcial</td>
			<td colspan="2">Total General</td>
		</tr>
		<tr class="tr-blank"></tr>
		<tr class="tr-head">
			<td>Nombre</td>

			<td>Examen</td>
			<td>Acumulado</td>
			<td>Total</td>

			<td>Examen</td>
			<td>Acumulado</td>
			<td>Total</td>

			<td>Examen</td>
			<td>Acumulado</td>
			<td>Total</td>

			<td>Examen</td>
			<td>Acumulado</td>
			<td>Total</td>

			<td>Promedio</td>
			<td>Accion</td>
		</tr>
		<% subjectId = @plan.subject.id %>
                <% st = @plan.subject.batch.students.sort_by { |a| a.first_and_last_name.downcase } %>
		<% st.each do |student| %>
		<tr class="tr-read-<%= cycle('odd', 'even') %>">
			<td class="col-1" style="text-transform:capitalize">
                           <%= student.first_and_last_name %>
			</td>		
			<% sn = student.notas.find_by_subject_id(subjectId) %>
			<% if sn %>
				<% total_1 = (sn.examen_1.nil? ? 0:sn.examen_1) + (sn.acumulado_1.nil? ? 0:sn.acumulado_1) %>
				<% total_2 = (sn.examen_2.nil? ? 0:sn.examen_2) + (sn.acumulado_2.nil? ? 0:sn.acumulado_2) %>
				<% total_3 = (sn.examen_3.nil? ? 0:sn.examen_3) + (sn.acumulado_3.nil? ? 0:sn.acumulado_3) %>
				<% total_4 = (sn.examen_4.nil? ? 0:sn.examen_4) + (sn.acumulado_4.nil? ? 0:sn.acumulado_4) %>
				<td class="col-1"><%= sn.examen_1.nil? ? 0:sn.examen_1.round(2) %></td>
				<td class="col-1"><%= sn.acumulado_1.nil? ? 0:sn.acumulado_1.round(2) %></td>
                                <td class="col-1"><%= total_1.round(2) %></td>
				<td class="col-1"><%= sn.examen_2.nil? ? 0:sn.examen_2.round(2) %></td>
				<td class="col-1"><%= sn.acumulado_2.nil? ? 0:sn.acumulado_2.round(2) %></td>
				<td class="col-1"><%= total_2.round(2) %></td>
				<td class="col-1"><%= sn.examen_3.nil? ? 0:sn.examen_3.round(2) %></td>
				<td class="col-1"><%= sn.acumulado_3.nil? ? 0:sn.acumulado_3.round(2) %></td>
				<td class="col-1"><%= total_3.round(2) %></td>
				<td class="col-1"><%= sn.examen_4.nil? ? 0:sn.examen_4.round(2) %></td>
				<td class="col-1"><%= sn.acumulado_4.nil? ? 0:sn.acumulado_4.round(2) %></td>
				<td class="col-1"><%= total_4.round(2) %></td>

				<td class="col-1"><%= ((total_1 + total_2 + total_3 + total_4)/4).round(2) %></td>
				<td class="col-1"><%= link_to "Calificar", edit_nota_path(sn.id) %></td>
			<% else %>
				<td class="col-1">0.0</td>
				<td class="col-1">0.0</td>
				<td class="col-1">N/A</td>
				<td class="col-1">0.0</td>
				<td class="col-1">0.0</td>
				<td class="col-1">N/A</td>
				<td class="col-1">0.0</td>
				<td class="col-1">0.0</td>
				<td class="col-1">N/A</td>
				<td class="col-1">0.0</td>
				<td class="col-1">0.0</td>
				<td class="col-1">N/A</td>

				<td class="col-1">N/A</td>
				<td class="col-1"><%= link_to "Calificar", new_student_score_path(:id => subjectId, 
																													:id2 => student.id) %></td>
			<% end %>
		</tr>
		<tr class="tr-blank"></tr>
		<% end %>
	</table>
	</div>
</div>
